body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(200, 18, 124);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: white;
  font-size: medium;
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(172, 15, 106);
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

li {
  list-style: none;
}

nav {
  position: fixed;
}

.container {
  width: 100%;
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(200, 18, 124);
  top: 0;
  padding-bottom: 15px;
}

.dates {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-list {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.date {
  display: flex;
  justify-content: center;
  height: 200px;
  padding: 15px 0;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.date:nth-child(1),
.date:nth-child(4),
.date:nth-child(5) {
  background-color: rgb(172, 15, 106);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details p {
  padding: 30px;
  text-align: center;
  width: 100%;
  margin: 0;
  color: white;
}

.details p:nth-child(even) {
  background-color: rgb(172, 15, 106);
}
